## Importing Packages

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline

## Reading in datasets

In [12]:
aging_data = pd.read_csv('../data/Alzheimer_s_Disease_And_Healthy_Aging_Data.csv')
cog_dec = pd.read_csv('../data/Alzheimer_s_Disease_and_Healthy_Aging_Indicators__Cognitive_Decline.csv')
caregiving =  pd.read_csv('../data/Alzheimer_s_Disease_and_Healthy_Aging_Indicators__Caregiving.csv')
american_indian_female = pd.read_csv('../data/American Indian or Alaskan Native, Female, AD by State.csv')
american_indian_male = pd.read_csv('../data/American Indian or Alaskan Native, Male, AD by State.csv')
asian_male = pd.read_csv('../data/Asian or PI, Male, AD by State.csv')
asian_female = pd.read_csv('../data/Asian or PI, Female, AD by State.csv')
black_male = pd.read_csv('../data/Black, Male, AD by State.csv')
black_female = pd.read_csv('../data/Black, Female, AD by State (1).csv')
cumulative_72020 = pd.read_csv('../data/Cumulative_Provisional_Death_Counts_by_Sex__Race__and_Age_through_7_4_2020.csv')
hispanic_male = pd.read_csv('../data/Hispanic, Male, AD by State.csv')
hispanic_female = pd.read_csv('../data/Hispanic, Female, AD by State.csv')
multiple_causes = pd.read_csv('../data/Multiple Cause of Death, 1999-2018.csv')
white_male = pd.read_csv('../data/White, Male, AD by State.csv')
white_female = pd.read_csv('../data/White, Female, AD by State.csv')

## Checking properties of each dataset

In [5]:
aging_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144173 entries, 0 to 144172
Data columns (total 38 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   YearStart                   144173 non-null  int64
 1   YearEnd                     144173 non-null  int64
 2   LocationAbbr                144173 non-null  object
 3   LocationDesc                144173 non-null  object
 4   Datasource                  144173 non-null  object
 5   Class                       144173 non-null  object
 6   Topic                       144173 non-null  object
 7   Question                    144173 non-null  object
 8   Response                    0 non-null       float64
 9   Data_Value_Unit             144173 non-null  object
 10  DataValueTypeID             144173 non-null  object
 11  Data_Value_Type             144173 non-null  object
 12  Data_Value                  97421 non-null   float64
 13  Data_Value_Alt              97421 non-null   float64
 14  Data_Value_Footnote_Symbol  57575 non-null   object
 15  Data_Value_Footnote         57575 non-null   object
 16  Low_Confidence_Limit        97266 non-null   float64
 17  High_Confidence_Limit       97266 non-null   float64
 18  Sample_Size                 0 non-null       float64
 19  StratificationCategory1     144173 non-null  object
 20  Stratification1             144173 non-null  object
 21  StratificationCategory2     144173 non-null  object
 22  Stratification2             144173 non-null  object
 23  StratificationCategory3     0 non-null       float64
 24  Stratification3             0 non-null       float64
 25  GeoLocation                 128714 non-null  object
 26  ClassID                     144173 non-null  object
 27  TopicID                     144173 non-null  object
 28  QuestionID                  144173 non-null  object
 29  ResponseID                  0 non-null       float64
 30  LocationID                  144173 non-null  int64
 31  StratificationCategoryID1   144173 non-null  object
 32  StratificationID1           144173 non-null  object
 33  StratificationCategoryID2   144173 non-null  object
 34  StratificationID2           144173 non-null  object
 35  StratificationCategoryID3   0 non-null       float64
 36  StratificationID3           0 non-null       float64
 37  Report                      0 non-null       float64
dtypes: float64(12), int64(3), object(23)
memory usage: 41.8+ MB

In [6]:
cog_dec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13386 entries, 0 to 13385
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   13386 non-null  int64
 1   YearEnd                     13386 non-null  int64
 2   LocationAbbr                13386 non-null  object
 3   LocationDesc                13386 non-null  object
 4   Datasource                  13386 non-null  object
 5   Class                       13386 non-null  object
 6   Topic                       13386 non-null  object
 7   Question                    13386 non-null  object
 8   Response                    0 non-null      float64
 9   Data_Value_Unit             13386 non-null  object
 10  DataValueTypeID             13386 non-null  object
 11  Data_Value_Type             13386 non-null  object
 12  Data_Value                  8478 non-null   float64
 13  Data_Value_Alt              8478 non-null   float64
 14  Data_Value_Footnote_Symbol  7044 non-null   object
 15  Data_Value_Footnote         7044 non-null   object
 16  Low_Confidence_Limit        8400 non-null   float64
 17  High_Confidence_Limit       8400 non-null   float64
 18  Sample_Size                 0 non-null      float64
 19  StratificationCategory1     13386 non-null  object
 20  Stratification1             13386 non-null  object
 21  StratificationCategory2     13386 non-null  object
 22  Stratification2             13386 non-null  object
 23  StratificationCategory3     0 non-null      float64
 24  Stratification3             0 non-null      float64
 25  GeoLocation                 11094 non-null  object
 26  ClassID                     13386 non-null  object
 27  TopicID                     13386 non-null  object
 28  QuestionID                  13386 non-null  object
 29  ResponseID                  0 non-null      float64
 30  LocationID                  13386 non-null  int64
 31  StratificationCategoryID1   13386 non-null  object
 32  StratificationID1           13386 non-null  object
 33  StratificationCategoryID2   13386 non-null  object
 34  StratificationID2           13386 non-null  object
 35  StratificationCategoryID3   0 non-null      float64
 36  StratificationID3           0 non-null      float64
 37  Report                      0 non-null      float64
dtypes: float64(12), int64(3), object(23)
memory usage: 3.9+ MB

In [7]:
caregiving.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15428 entries, 0 to 15427
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   15428 non-null  int64
 1   YearEnd                     15428 non-null  int64
 2   LocationAbbr                15428 non-null  object
 3   LocationDesc                15428 non-null  object
 4   Datasource                  15428 non-null  object
 5   Class                       15428 non-null  object
 6   Topic                       15428 non-null  object
 7   Question                    15428 non-null  object
 8   Response                    0 non-null      float64
 9   Data_Value_Unit             15428 non-null  object
 10  DataValueTypeID             15428 non-null  object
 11  Data_Value_Type             15428 non-null  object
 12  Data_Value                  10046 non-null  float64
 13  Data_Value_Alt              10046 non-null  float64
 14  Data_Value_Footnote_Symbol  8364 non-null   object
 15  Data_Value_Footnote         8364 non-null   object
 16  Low_Confidence_Limit        9969 non-null   float64
 17  High_Confidence_Limit       9969 non-null   float64
 18  Sample_Size                 0 non-null      float64
 19  StratificationCategory1     15428 non-null  object
 20  Stratification1             15428 non-null  object
 21  StratificationCategory2     15428 non-null  object
 22  Stratification2             15428 non-null  object
 23  StratificationCategory3     0 non-null      float64
 24  Stratification3             0 non-null      float64
 25  GeoLocation                 12437 non-null  object
 26  ClassID                     15428 non-null  object
 27  TopicID                     15428 non-null  object
 28  QuestionID                  15428 non-null  object
 29  ResponseID                  0 non-null      float64
 30  LocationID                  15428 non-null  int64
 31  StratificationCategoryID1   15428 non-null  object
 32  StratificationID1           15428 non-null  object
 33  StratificationCategoryID2   15428 non-null  object
 34  StratificationID2           15428 non-null  object
 35  StratificationCategoryID3   0 non-null      float64
 36  StratificationID3           0 non-null      float64
 37  Report                      0 non-null      float64
dtypes: float64(12), int64(3), object(23)
memory usage: 4.5+ MB

In [8]:
american_indian_male.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16956 entries, 0 to 16955
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Notes                      1656 non-null   object
 1   State                      16881 non-null  object
 2   State Code                 16881 non-null  float64
 3   Five-Year Age Groups       16830 non-null  object
 4   Five-Year Age Groups Code  16830 non-null  object
 5   Ethnicity                  16956 non-null  object
 6   Gender                     16065 non-null  object
 7   Gender Code                16065 non-null  object
 8   Year                       15300 non-null  float64
 9   Year Code                  15300 non-null  float64
 10  Deaths                     16882 non-null  object
 11  Population                 16882 non-null  object
 12  Crude Rate                 16882 non-null  object
dtypes: float64(3), object(10)
memory usage: 1.7+ MB

In [9]:
american_indian_female.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16956 entries, 0 to 16955
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Notes                      1656 non-null   object
 1   State                      16881 non-null  object
 2   State Code                 16881 non-null  float64
 3   Five-Year Age Groups       16830 non-null  object
 4   Five-Year Age Groups Code  16830 non-null  object
 5   Ethnicity                  16956 non-null  object
 6   Gender                     16065 non-null  object
 7   Gender Code                16065 non-null  object
 8   Year                       15300 non-null  float64
 9   Year Code                  15300 non-null  float64
 10  Deaths                     16882 non-null  object
 11  Population                 16882 non-null  object
 12  Crude Rate                 16882 non-null  object
dtypes: float64(3), object(10)
memory usage: 1.7+ MB

In [10]:
asian_male.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15378 entries, 0 to 15377
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Notes                      78 non-null     object
 1   State                      15300 non-null  object
 2   State Code                 15300 non-null  float64
 3   Five-Year Age Groups       15300 non-null  object
 4   Five-Year Age Groups Code  15300 non-null  object
 5   Ethnicity                  15378 non-null  object
 6   Gender                     15300 non-null  object
 7   Gender Code                15300 non-null  object
 8   Year                       15300 non-null  float64
 9   Year Code                  15300 non-null  float64
 10  Deaths                     15300 non-null  object
 11  Population                 15300 non-null  object
 12  Crude Rate                 15300 non-null  object
dtypes: float64(3), object(10)
memory usage: 1.5+ MB

In [13]:
asian_female.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15378 entries, 0 to 15377
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Notes                      78 non-null     object
 1   State                      15300 non-null  object
 2   State Code                 15300 non-null  float64
 3   Five-Year Age Groups       15300 non-null  object
 4   Five-Year Age Groups Code  15300 non-null  object
 5   Ethnicity                  15378 non-null  object
 6   Gender                     15300 non-null  object
 7   Gender Code                15300 non-null  object
 8   Year                       15300 non-null  float64
 9   Year Code                  15300 non-null  float64
 10  Deaths                     15300 non-null  object
 11  Population                 15300 non-null  object
 12  Crude Rate                 15300 non-null  object
dtypes: float64(3), object(10)
memory usage: 1.5+ MB