## Importing Packages

In [8]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline

## Reading in datasets

In [41]:
aging_data = pd.read_csv('../data/Alzheimer_s_Disease_And_Healthy_Aging_Data_edited.csv')
cog_dec = pd.read_csv('../data/Alzheimer_s_Disease_and_Healthy_Aging_Indicators__Cognitive_Decline.csv')
caregiving =  pd.read_csv('../data/Alzheimer_s_Disease_and_Healthy_Aging_Indicators__Caregiving.csv')
american_indian_female = pd.read_csv('../data/American Indian or Alaskan Native, Female, AD by State.csv',skipfooter = 76, engine = 'python')
american_indian_male = pd.read_csv('../data/American Indian or Alaskan Native, Male, AD by State.csv',skipfooter = 76, engine = 'python')
asian_male = pd.read_csv('../data/Asian or PI, Male, AD by State.csv', skipfooter = 78, engine = 'python')
asian_female = pd.read_csv('../data/Asian or PI, Female, AD by State.csv', skipfooter = 78, engine = 'python')
black_male = pd.read_csv('../data/Black, Male, AD by State.csv',skipfooter= 78,engine = 'python')
black_female = pd.read_csv('../data/Black, Female, AD by State (1).csv',skipfooter = 78, engine = 'python')
cumulative_72020 = pd.read_csv('../data/Cumulative_Provisional_Death_Counts_by_Sex__Race__and_Age_through_7_4_2020.csv')
hispanic_male = pd.read_csv('../data/Hispanic, Male, AD by State.csv',skipfooter = 75, engine = 'python')
hispanic_female = pd.read_csv('../data/Hispanic, Female, AD by State.csv',skipfooter = 77, engine = 'python')
multiple_causes = pd.read_csv('../data/Multiple Cause of Death, 1999-2018.csv')
white_male = pd.read_csv('../data/White, Male, AD by State.csv',skipfooter= 94, engine = 'python')
white_female = pd.read_csv('../data/White, Female, AD by State.csv',skipfooter = 78, engine = 'python')

## Data and Column Cleanup

In [10]:
white_female.head()

,ï»¿Notes,State,Five-Year Age Groups,Gender,Ethnicity,Year,Year Code,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Female,White,1999,1999,Suppressed,106046,Suppressed
1,NaN,Alabama,30-34,Female,White,2000,2000,Suppressed,105657,Suppressed
2,NaN,Alabama,30-34,Female,White,2001,2001,Suppressed,105165,Suppressed
3,NaN,Alabama,30-34,Female,White,2002,2002,Suppressed,104248,Suppressed
4,NaN,Alabama,30-34,Female,White,2003,2003,Suppressed,102860,Suppressed

In [11]:
white_female = white_female.rename(columns= {'Five-Year Age Groups':'age'})
white_female

,ï»¿Notes,State,age,Gender,Ethnicity,Year,Year Code,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Female,White,1999,1999,Suppressed,106046,Suppressed
1,NaN,Alabama,30-34,Female,White,2000,2000,Suppressed,105657,Suppressed
2,NaN,Alabama,30-34,Female,White,2001,2001,Suppressed,105165,Suppressed
3,NaN,Alabama,30-34,Female,White,2002,2002,Suppressed,104248,Suppressed
4,NaN,Alabama,30-34,Female,White,2003,2003,Suppressed,102860,Suppressed
...,...,...,...,...,...,...,...,...,...,...
15295,NaN,Wyoming,100+,Female,White,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,100+,Female,White,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,100+,Female,White,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,100+,Female,White,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,100+,Female,White,2018,2018,13,Not Applicable,Not Applicable

In [12]:
white_female = white_female[white_female.age != '30-34']

In [13]:
white_female.head()

,ï»¿Notes,State,age,Gender,Ethnicity,Year,Year Code,Deaths,Population,Crude Rate
20,NaN,Alabama,35-39,Female,White,1999,1999,Suppressed,122659,Suppressed
21,NaN,Alabama,35-39,Female,White,2000,2000,Suppressed,121413,Suppressed
22,NaN,Alabama,35-39,Female,White,2001,2001,Suppressed,117197,Suppressed
23,NaN,Alabama,35-39,Female,White,2002,2002,Suppressed,113407,Suppressed
24,NaN,Alabama,35-39,Female,White,2003,2003,Suppressed,109786,Suppressed

In [14]:
white_male.tail()

,ï»¿Notes,State,Five-Year Age Groups Code,Gender,Ethnicity,Year,Deaths,Population,Crude Rate
14275,NaN,Wyoming,100+,Male,White,2014,Suppressed,Not Applicable,Not Applicable
14276,NaN,Wyoming,100+,Male,White,2015,Suppressed,Not Applicable,Not Applicable
14277,NaN,Wyoming,100+,Male,White,2016,Suppressed,Not Applicable,Not Applicable
14278,NaN,Wyoming,100+,Male,White,2017,Suppressed,Not Applicable,Not Applicable
14279,NaN,Wyoming,100+,Male,White,2018,Suppressed,Not Applicable,Not Applicable

In [15]:
white_male = white_male.rename(columns = {'Five-Year Age Groups Code':'age'})
white_male.head()

,ï»¿Notes,State,age,Gender,Ethnicity,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed
1,NaN,Alabama,35-39,Male,White,2000,Suppressed,122289,Suppressed
2,NaN,Alabama,35-39,Male,White,2001,Suppressed,117693,Suppressed
3,NaN,Alabama,35-39,Male,White,2002,Suppressed,113632,Suppressed
4,NaN,Alabama,35-39,Male,White,2003,Suppressed,110121,Suppressed

In [16]:
black_male.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
15295,NaN,Wyoming,56,100+ years,100+,Black,Male,M,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,56,100+ years,100+,Black,Male,M,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,56,100+ years,100+,Black,Male,M,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,56,100+ years,100+,Black,Male,M,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,56,100+ years,100+,Black,Male,M,2018,2018,Suppressed,Not Applicable,Not Applicable

In [17]:
black_male = black_male.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code']) 
black_male.head()

,ï»¿Notes,State,Five-Year Age Groups Code,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed
1,NaN,Alabama,30-34,Black,Male,2000,Suppressed,34821,Suppressed
2,NaN,Alabama,30-34,Black,Male,2001,Suppressed,34582,Suppressed
3,NaN,Alabama,30-34,Black,Male,2002,Suppressed,34999,Suppressed
4,NaN,Alabama,30-34,Black,Male,2003,Suppressed,35431,Suppressed

In [18]:
black_male = black_male.rename(columns = {'Five-Year Age Groups Code': 'age'})
black_male.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed
1,NaN,Alabama,30-34,Black,Male,2000,Suppressed,34821,Suppressed
2,NaN,Alabama,30-34,Black,Male,2001,Suppressed,34582,Suppressed
3,NaN,Alabama,30-34,Black,Male,2002,Suppressed,34999,Suppressed
4,NaN,Alabama,30-34,Black,Male,2003,Suppressed,35431,Suppressed

In [19]:
black_female.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
15295,NaN,Wyoming,56,100+ years,100+,Black,Female,F,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,56,100+ years,100+,Black,Female,F,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,56,100+ years,100+,Black,Female,F,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,56,100+ years,100+,Black,Female,F,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,56,100+ years,100+,Black,Female,F,2018,2018,Suppressed,Not Applicable,Not Applicable

In [20]:
black_female = black_female.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
black_female = black_female.rename(columns = {'Five-Year Age Groups Code':'age'})
black_female.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Black,Female,1999,Suppressed,42324,Suppressed
1,NaN,Alabama,30-34,Black,Female,2000,Suppressed,42199,Suppressed
2,NaN,Alabama,30-34,Black,Female,2001,Suppressed,42199,Suppressed
3,NaN,Alabama,30-34,Black,Female,2002,Suppressed,42531,Suppressed
4,NaN,Alabama,30-34,Black,Female,2003,Suppressed,42992,Suppressed

In [21]:
hispanic_male.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
16875,NaN,Wyoming,56,100+ years,100+,Hispanic,Male,M,2016.0,2016.0,Suppressed,Not Applicable,Not Applicable
16876,NaN,Wyoming,56,100+ years,100+,Hispanic,Male,M,2017.0,2017.0,Suppressed,Not Applicable,Not Applicable
16877,NaN,Wyoming,56,100+ years,100+,Hispanic,Male,M,2018.0,2018.0,Suppressed,Not Applicable,Not Applicable
16878,Total,Wyoming,56,100+ years,100+,Hispanic,Male,M,NaN,NaN,Suppressed,Not Applicable,Not Applicable
16879,Total,Wyoming,56,100+ years,100+,Hispanic,NaN,NaN,NaN,NaN,Suppressed,Not Applicable,Not Applicable

In [22]:
hispanic_male = hispanic_male.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
hispanic_male = hispanic_male.rename(columns = {'Five-Year Age Groups Code':'age'})
hispanic_male.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed
1,NaN,Alabama,30-34,Hispanic,Male,2000.0,Suppressed,4307,Suppressed
2,NaN,Alabama,30-34,Hispanic,Male,2001.0,Suppressed,5009,Suppressed
3,NaN,Alabama,30-34,Hispanic,Male,2002.0,Suppressed,5775,Suppressed
4,NaN,Alabama,30-34,Hispanic,Male,2003.0,Suppressed,6524,Suppressed

In [23]:
hispanic_female.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
15295,NaN,Wyoming,56,100+ years,100+,Hispanic,Female,F,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,56,100+ years,100+,Hispanic,Female,F,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,56,100+ years,100+,Hispanic,Female,F,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,56,100+ years,100+,Hispanic,Female,F,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,56,100+ years,100+,Hispanic,Female,F,2018,2018,Suppressed,Not Applicable,Not Applicable

In [24]:
hispanic_female = hispanic_female.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
hispanic_female = hispanic_female.rename(columns = {'Five-Year Age Groups Code':'age'})
hispanic_female.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Hispanic,Female,1999,Suppressed,2339,Suppressed
1,NaN,Alabama,30-34,Hispanic,Female,2000,Suppressed,2742,Suppressed
2,NaN,Alabama,30-34,Hispanic,Female,2001,Suppressed,3272,Suppressed
3,NaN,Alabama,30-34,Hispanic,Female,2002,Suppressed,3592,Suppressed
4,NaN,Alabama,30-34,Hispanic,Female,2003,Suppressed,4217,Suppressed

In [25]:
american_indian_female.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
16875,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Female,F,2016.0,2016.0,Suppressed,Not Applicable,Not Applicable
16876,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Female,F,2017.0,2017.0,Suppressed,Not Applicable,Not Applicable
16877,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Female,F,2018.0,2018.0,Suppressed,Not Applicable,Not Applicable
16878,Total,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Female,F,NaN,NaN,Suppressed,Not Applicable,Not Applicable
16879,Total,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,NaN,NaN,NaN,NaN,Suppressed,Not Applicable,Not Applicable

In [26]:
american_indian_female = american_indian_female.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
american_indian_female = american_indian_female.rename(columns = {'Five-Year Age Groups Code':'age'})
american_indian_female.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,American Indian or Alaskan Native,Female,1999.0,Suppressed,770,Suppressed
1,NaN,Alabama,30-34,American Indian or Alaskan Native,Female,2000.0,Suppressed,826,Suppressed
2,NaN,Alabama,30-34,American Indian or Alaskan Native,Female,2001.0,Suppressed,766,Suppressed
3,NaN,Alabama,30-34,American Indian or Alaskan Native,Female,2002.0,Suppressed,776,Suppressed
4,NaN,Alabama,30-34,American Indian or Alaskan Native,Female,2003.0,Suppressed,798,Suppressed

In [27]:
american_indian_male.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
16875,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Male,M,2016.0,2016.0,Suppressed,Not Applicable,Not Applicable
16876,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Male,M,2017.0,2017.0,Suppressed,Not Applicable,Not Applicable
16877,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Male,M,2018.0,2018.0,Suppressed,Not Applicable,Not Applicable
16878,Total,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Male,M,NaN,NaN,Suppressed,Not Applicable,Not Applicable
16879,Total,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,NaN,NaN,NaN,NaN,Suppressed,Not Applicable,Not Applicable

In [28]:
american_indian_male = american_indian_male.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
american_indian_male = american_indian_male.rename(columns = {'Five-Year Age Groups Code':'age'})
american_indian_male.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed
1,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,2000.0,Suppressed,822,Suppressed
2,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,2001.0,Suppressed,801,Suppressed
3,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,2002.0,Suppressed,814,Suppressed
4,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,2003.0,Suppressed,827,Suppressed

In [29]:
asian_female.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
15295,NaN,Wyoming,56,100+ years,100+,Asian or PI,Female,F,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,56,100+ years,100+,Asian or PI,Female,F,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,56,100+ years,100+,Asian or PI,Female,F,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,56,100+ years,100+,Asian or PI,Female,F,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,56,100+ years,100+,Asian or PI,Female,F,2018,2018,Suppressed,Not Applicable,Not Applicable

In [30]:
#asian_female = asian_female.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
#asian_female = asian_female.rename(columns = {'Five-Year Age Groups Code':'age'})
asian_female.head()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
0,NaN,Alabama,1,30-34 years,30-34,Asian or PI,Female,F,1999,1999,Suppressed,1620,Suppressed
1,NaN,Alabama,1,30-34 years,30-34,Asian or PI,Female,F,2000,2000,Suppressed,1725,Suppressed
2,NaN,Alabama,1,30-34 years,30-34,Asian or PI,Female,F,2001,2001,Suppressed,1860,Suppressed
3,NaN,Alabama,1,30-34 years,30-34,Asian or PI,Female,F,2002,2002,Suppressed,2042,Suppressed
4,NaN,Alabama,1,30-34 years,30-34,Asian or PI,Female,F,2003,2003,Suppressed,2139,Suppressed

In [31]:
asian_male.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
15295,NaN,Wyoming,56,100+ years,100+,Asian or PI,Male,M,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,56,100+ years,100+,Asian or PI,Male,M,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,56,100+ years,100+,Asian or PI,Male,M,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,56,100+ years,100+,Asian or PI,Male,M,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,56,100+ years,100+,Asian or PI,Male,M,2018,2018,Suppressed,Not Applicable,Not Applicable

In [32]:
asian_male = asian_male.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
asian_male = asian_male.rename(columns = {'Five-Year Age Groups Code':'age'})
asian_male.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed
1,NaN,Alabama,30-34,Asian or PI,Male,2000,Suppressed,1665,Suppressed
2,NaN,Alabama,30-34,Asian or PI,Male,2001,Suppressed,1768,Suppressed
3,NaN,Alabama,30-34,Asian or PI,Male,2002,Suppressed,1947,Suppressed
4,NaN,Alabama,30-34,Asian or PI,Male,2003,Suppressed,2154,Suppressed

## Merging Ethnicities into singular dataframe

In [33]:
white_male.head()

,ï»¿Notes,State,age,Gender,Ethnicity,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed
1,NaN,Alabama,35-39,Male,White,2000,Suppressed,122289,Suppressed
2,NaN,Alabama,35-39,Male,White,2001,Suppressed,117693,Suppressed
3,NaN,Alabama,35-39,Male,White,2002,Suppressed,113632,Suppressed
4,NaN,Alabama,35-39,Male,White,2003,Suppressed,110121,Suppressed

In [34]:
white_ad = white_male.merge(white_female,how = 'outer',on = 'State')
white_ad.head(20)

,ï»¿Notes_x,State,age_x,Gender,Ethnicity_x,Year_x,Deaths_x,Population_x,Crude Rate_x,ï»¿Notes_y,age_y,Gender,Ethnicity_y,Year_y,Year Code,Deaths_y,Population_y,Crude Rate_y
0,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,1999,1999,Suppressed,122659,Suppressed
1,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2000,2000,Suppressed,121413,Suppressed
2,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2001,2001,Suppressed,117197,Suppressed
3,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2002,2002,Suppressed,113407,Suppressed
4,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2003,2003,Suppressed,109786,Suppressed
5,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2004,2004,Suppressed,106783,Suppressed
6,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2005,2005,Suppressed,105602,Suppressed
7,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2006,2006,Suppressed,106897,Suppressed
8,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2007,2007,Suppressed,107355,Suppressed
9,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2008,2008,Suppressed,106884,Suppressed
10,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2009,2009,Suppressed,104981,Suppressed
11,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2010,2010,Suppressed,102688,Suppressed
12,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2011,2011,Suppressed,97424,Suppressed
13,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2012,2012,Suppressed,95644,Suppressed
14,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2013,2013,Suppressed,94791,Suppressed
15,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2014,2014,Suppressed,94585,Suppressed
16,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2015,2015,Suppressed,94657,Suppressed
17,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2016,2016,Suppressed,95595,Suppressed
18,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2017,2017,Suppressed,95946,Suppressed
19,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed,NaN,35-39,Female,White,2018,2018,Suppressed,96673,Suppressed

In [35]:
black_ad = black_male.merge(black_female,how = 'outer',on = 'State')
black_ad.head(10)

,ï»¿Notes_x,State,age_x,Ethnicity_x,Gender_x,Year_x,Deaths_x,Population_x,Crude Rate_x,ï»¿Notes_y,age_y,Ethnicity_y,Gender_y,Year_y,Deaths_y,Population_y,Crude Rate_y
0,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed,NaN,30-34,Black,Female,1999,Suppressed,42324,Suppressed
1,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed,NaN,30-34,Black,Female,2000,Suppressed,42199,Suppressed
2,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed,NaN,30-34,Black,Female,2001,Suppressed,42199,Suppressed
3,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed,NaN,30-34,Black,Female,2002,Suppressed,42531,Suppressed
4,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed,NaN,30-34,Black,Female,2003,Suppressed,42992,Suppressed
5,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed,NaN,30-34,Black,Female,2004,Suppressed,43494,Suppressed
6,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed,NaN,30-34,Black,Female,2005,Suppressed,43407,Suppressed
7,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed,NaN,30-34,Black,Female,2006,Suppressed,43109,Suppressed
8,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed,NaN,30-34,Black,Female,2007,Suppressed,43353,Suppressed
9,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed,NaN,30-34,Black,Female,2008,Suppressed,43877,Suppressed

In [36]:
american_indian_ad = american_indian_male.merge(american_indian_female,how = 'outer', on = 'State')
american_indian_ad.head(10)

,ï»¿Notes_x,State,age_x,Ethnicity_x,Gender_x,Year_x,Deaths_x,Population_x,Crude Rate_x,ï»¿Notes_y,age_y,Ethnicity_y,Gender_y,Year_y,Deaths_y,Population_y,Crude Rate_y
0,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed,NaN,30-34,American Indian or Alaskan Native,Female,1999.0,Suppressed,770,Suppressed
1,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed,NaN,30-34,American Indian or Alaskan Native,Female,2000.0,Suppressed,826,Suppressed
2,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed,NaN,30-34,American Indian or Alaskan Native,Female,2001.0,Suppressed,766,Suppressed
3,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed,NaN,30-34,American Indian or Alaskan Native,Female,2002.0,Suppressed,776,Suppressed
4,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed,NaN,30-34,American Indian or Alaskan Native,Female,2003.0,Suppressed,798,Suppressed
5,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed,NaN,30-34,American Indian or Alaskan Native,Female,2004.0,Suppressed,814,Suppressed
6,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed,NaN,30-34,American Indian or Alaskan Native,Female,2005.0,Suppressed,828,Suppressed
7,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed,NaN,30-34,American Indian or Alaskan Native,Female,2006.0,Suppressed,838,Suppressed
8,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed,NaN,30-34,American Indian or Alaskan Native,Female,2007.0,Suppressed,855,Suppressed
9,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed,NaN,30-34,American Indian or Alaskan Native,Female,2008.0,Suppressed,897,Suppressed

In [37]:
hispanic_ad = hispanic_male.merge(hispanic_female,how = 'outer',on = 'State')
hispanic_ad.head(10)

,ï»¿Notes_x,State,age_x,Ethnicity_x,Gender_x,Year_x,Deaths_x,Population_x,Crude Rate_x,ï»¿Notes_y,age_y,Ethnicity_y,Gender_y,Year_y,Deaths_y,Population_y,Crude Rate_y
0,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed,NaN,30-34,Hispanic,Female,1999,Suppressed,2339,Suppressed
1,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed,NaN,30-34,Hispanic,Female,2000,Suppressed,2742,Suppressed
2,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed,NaN,30-34,Hispanic,Female,2001,Suppressed,3272,Suppressed
3,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed,NaN,30-34,Hispanic,Female,2002,Suppressed,3592,Suppressed
4,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed,NaN,30-34,Hispanic,Female,2003,Suppressed,4217,Suppressed
5,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed,NaN,30-34,Hispanic,Female,2004,Suppressed,4725,Suppressed
6,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed,NaN,30-34,Hispanic,Female,2005,Suppressed,5257,Suppressed
7,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed,NaN,30-34,Hispanic,Female,2006,Suppressed,5807,Suppressed
8,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed,NaN,30-34,Hispanic,Female,2007,Suppressed,6461,Suppressed
9,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed,NaN,30-34,Hispanic,Female,2008,Suppressed,6922,Suppressed

In [39]:
asian_ad = asian_male.merge(asian_female, how = 'outer',on = 'State')
asian_ad.head(10)

,ï»¿Notes_x,State,age,Ethnicity_x,Gender_x,Year_x,Deaths_x,Population_x,Crude Rate_x,ï»¿Notes_y,...,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity_y,Gender_y,Gender Code,Year_y,Year Code,Deaths_y,Population_y,Crude Rate_y
0,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed,NaN,...,30-34 years,30-34,Asian or PI,Female,F,1999,1999,Suppressed,1620,Suppressed
1,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed,NaN,...,30-34 years,30-34,Asian or PI,Female,F,2000,2000,Suppressed,1725,Suppressed
2,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed,NaN,...,30-34 years,30-34,Asian or PI,Female,F,2001,2001,Suppressed,1860,Suppressed
3,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed,NaN,...,30-34 years,30-34,Asian or PI,Female,F,2002,2002,Suppressed,2042,Suppressed
4,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed,NaN,...,30-34 years,30-34,Asian or PI,Female,F,2003,2003,Suppressed,2139,Suppressed
5,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed,NaN,...,30-34 years,30-34,Asian or PI,Female,F,2004,2004,Suppressed,2393,Suppressed
6,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed,NaN,...,30-34 years,30-34,Asian or PI,Female,F,2005,2005,Suppressed,2510,Suppressed
7,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed,NaN,...,30-34 years,30-34,Asian or PI,Female,F,2006,2006,Suppressed,2695,Suppressed
8,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed,NaN,...,30-34 years,30-34,Asian or PI,Female,F,2007,2007,Suppressed,2648,Suppressed
9,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed,NaN,...,30-34 years,30-34,Asian or PI,Female,F,2008,2008,Suppressed,2672,Suppressed

## Creating CSV files of race totals

In [43]:
white_ad.to_csv('../data/white_ad.csv')
black_ad.to_csv('../data/black_ad.csv')
american_indian_ad.to_csv('../data/american_indian_ad.csv')
asian_ad.to_csv('../data/asian_ad.csv')
hispanic_ad.to_csv('../data/hispanic_ad.csv')

## EDA on CDC data

In [42]:
aging_data.head(10)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Class,Topic,Question,Response,Data_Value_Unit,Data_Value_Type,...,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,age,StratificationCategory2,Stratification2,GeoLocation
0,2017,2017,ID,Idaho,Nutrition/Physical Activity/Obesity,Eating 2 or more fruits daily,Percentage of older adults who are eating 2 or...,NaN,%,Percentage,...,NaN,~,No Data Available,NaN,NaN,NaN,50-64 years,Race/Ethnicity,Asian/Pacific Islander,"(43.68263001, -114.36373)"
1,2017,2017,WA,Washington,Nutrition/Physical Activity/Obesity,Eating 2 or more fruits daily,Percentage of older adults who are eating 2 or...,NaN,%,Percentage,...,31.4,NaN,NaN,21.7,43.1,NaN,50-64 years,Race/Ethnicity,Asian/Pacific Islander,"(47.52227863, -120.4700108)"
2,2017,2017,HI,Hawaii,Nutrition/Physical Activity/Obesity,Eating 2 or more fruits daily,Percentage of older adults who are eating 2 or...,NaN,%,Percentage,...,36.3,NaN,NaN,32.0,40.9,NaN,65 years or older,Race/Ethnicity,Asian/Pacific Islander,"(21.30485044, -157.8577494)"
3,2017,2017,VT,Vermont,Nutrition/Physical Activity/Obesity,Eating 2 or more fruits daily,Percentage of older adults who are eating 2 or...,NaN,%,Percentage,...,NaN,~,No Data Available,NaN,NaN,NaN,65 years or older,Race/Ethnicity,Asian/Pacific Islander,"(43.62538124, -72.51764079)"
4,2015,2015,OH,Ohio,Nutrition/Physical Activity/Obesity,Eating 2 or more fruits daily,Percentage of older adults who are eating 2 or...,NaN,%,Percentage,...,20.3,NaN,NaN,10.9,34.8,NaN,Overall,Race/Ethnicity,Hispanic,"(40.06021014, -82.40426006)"
5,2017,2017,IL,Illinois,Nutrition/Physical Activity/Obesity,Eating 2 or more fruits daily,Percentage of older adults who are eating 2 or...,NaN,%,Percentage,...,41.1,NaN,NaN,27.9,55.7,NaN,65 years or older,Race/Ethnicity,Hispanic,"(40.48501028, -88.99771018)"
6,2017,2017,US,"United States, DC & Territories",Nutrition/Physical Activity/Obesity,Eating 2 or more fruits daily,Percentage of older adults who are eating 2 or...,NaN,%,Percentage,...,28.7,NaN,NaN,27.9,29.5,NaN,50-64 years,Gender,Male,NaN
7,2015,2015,HI,Hawaii,Nutrition/Physical Activity/Obesity,Eating 2 or more fruits daily,Percentage of older adults who are eating 2 or...,NaN,%,Percentage,...,NaN,~,No Data Available,NaN,NaN,NaN,65 years or older,Race/Ethnicity,Native Am/Alaskan Native,"(21.30485044, -157.8577494)"
8,2017,2017,ND,North Dakota,Nutrition/Physical Activity/Obesity,Eating 2 or more fruits daily,Percentage of older adults who are eating 2 or...,NaN,%,Percentage,...,31.5,NaN,NaN,20.4,45.1,NaN,50-64 years,Race/Ethnicity,Native Am/Alaskan Native,"(47.47531978, -100.118421)"
9,2017,2017,US,"United States, DC & Territories",Nutrition/Physical Activity/Obesity,Eating 2 or more fruits daily,Percentage of older adults who are eating 2 or...,NaN,%,Percentage,...,31.1,NaN,NaN,30.5,31.7,NaN,50-64 years,Race/Ethnicity,"White, non-Hispanic",NaN