## Importing Packages

In [67]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline

## Reading in datasets

In [113]:
aging_data = pd.read_csv('../data/Alzheimer_s_Disease_And_Healthy_Aging_Data.csv')
cog_dec = pd.read_csv('../data/Alzheimer_s_Disease_and_Healthy_Aging_Indicators__Cognitive_Decline.csv')
caregiving =  pd.read_csv('../data/Alzheimer_s_Disease_and_Healthy_Aging_Indicators__Caregiving.csv')
american_indian_female = pd.read_csv('../data/American Indian or Alaskan Native, Female, AD by State.csv',skipfooter = 76, engine = 'python')
american_indian_male = pd.read_csv('../data/American Indian or Alaskan Native, Male, AD by State.csv',skipfooter = 76, engine = 'python')
asian_male = pd.read_csv('../data/Asian or PI, Male, AD by State.csv', skipfooter = 78, engine = 'python')
asian_female = pd.read_csv('../data/Asian or PI, Female, AD by State.csv', skipfooter = 78, engine = 'python')
black_male = pd.read_csv('../data/Black, Male, AD by State.csv',skipfooter= 78,engine = 'python')
black_female = pd.read_csv('../data/Black, Female, AD by State (1).csv',skipfooter = 78, engine = 'python')
cumulative_72020 = pd.read_csv('../data/Cumulative_Provisional_Death_Counts_by_Sex__Race__and_Age_through_7_4_2020.csv')
hispanic_male = pd.read_csv('../data/Hispanic, Male, AD by State.csv',skipfooter = 75, engine = 'python')
hispanic_female = pd.read_csv('../data/Hispanic, Female, AD by State.csv',skipfooter = 77, engine = 'python')
multiple_causes = pd.read_csv('../data/Multiple Cause of Death, 1999-2018.csv')
white_male = pd.read_csv('../data/White, Male, AD by State.csv',skipfooter= 94, engine = 'python')
white_female = pd.read_csv('../data/White, Female, AD by State.csv',skipfooter = 78, engine = 'python')

## Data and Column Cleanup

In [81]:
white_female.head()

,ï»¿Notes,State,age,Gender,Ethnicity,Year,Year Code,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Female,White,1999,1999,Suppressed,106046,Suppressed
1,NaN,Alabama,30-34,Female,White,2000,2000,Suppressed,105657,Suppressed
2,NaN,Alabama,30-34,Female,White,2001,2001,Suppressed,105165,Suppressed
3,NaN,Alabama,30-34,Female,White,2002,2002,Suppressed,104248,Suppressed
4,NaN,Alabama,30-34,Female,White,2003,2003,Suppressed,102860,Suppressed

In [83]:
white_female = white_female.rename(columns= {'Five-Year Age Groups':'age'})
white_female

,ï»¿Notes,State,age,Gender,Ethnicity,Year,Year Code,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Female,White,1999,1999,Suppressed,106046,Suppressed
1,NaN,Alabama,30-34,Female,White,2000,2000,Suppressed,105657,Suppressed
2,NaN,Alabama,30-34,Female,White,2001,2001,Suppressed,105165,Suppressed
3,NaN,Alabama,30-34,Female,White,2002,2002,Suppressed,104248,Suppressed
4,NaN,Alabama,30-34,Female,White,2003,2003,Suppressed,102860,Suppressed
...,...,...,...,...,...,...,...,...,...,...
15295,NaN,Wyoming,100+,Female,White,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,100+,Female,White,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,100+,Female,White,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,100+,Female,White,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,100+,Female,White,2018,2018,13,Not Applicable,Not Applicable

In [84]:
white_male.tail()

,ï»¿Notes,State,Five-Year Age Groups Code,Gender,Ethnicity,Year,Deaths,Population,Crude Rate
14275,NaN,Wyoming,100+,Male,White,2014,Suppressed,Not Applicable,Not Applicable
14276,NaN,Wyoming,100+,Male,White,2015,Suppressed,Not Applicable,Not Applicable
14277,NaN,Wyoming,100+,Male,White,2016,Suppressed,Not Applicable,Not Applicable
14278,NaN,Wyoming,100+,Male,White,2017,Suppressed,Not Applicable,Not Applicable
14279,NaN,Wyoming,100+,Male,White,2018,Suppressed,Not Applicable,Not Applicable

In [116]:
white_male.rename(columns = {'Five-Year Age Groups Code':'age'})

,ï»¿Notes,State,age,Gender,Ethnicity,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,35-39,Male,White,1999,Suppressed,123893,Suppressed
1,NaN,Alabama,35-39,Male,White,2000,Suppressed,122289,Suppressed
2,NaN,Alabama,35-39,Male,White,2001,Suppressed,117693,Suppressed
3,NaN,Alabama,35-39,Male,White,2002,Suppressed,113632,Suppressed
4,NaN,Alabama,35-39,Male,White,2003,Suppressed,110121,Suppressed
...,...,...,...,...,...,...,...,...,...
14275,NaN,Wyoming,100+,Male,White,2014,Suppressed,Not Applicable,Not Applicable
14276,NaN,Wyoming,100+,Male,White,2015,Suppressed,Not Applicable,Not Applicable
14277,NaN,Wyoming,100+,Male,White,2016,Suppressed,Not Applicable,Not Applicable
14278,NaN,Wyoming,100+,Male,White,2017,Suppressed,Not Applicable,Not Applicable
14279,NaN,Wyoming,100+,Male,White,2018,Suppressed,Not Applicable,Not Applicable

In [118]:
black_male.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
15295,NaN,Wyoming,56,100+ years,100+,Black,Male,M,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,56,100+ years,100+,Black,Male,M,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,56,100+ years,100+,Black,Male,M,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,56,100+ years,100+,Black,Male,M,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,56,100+ years,100+,Black,Male,M,2018,2018,Suppressed,Not Applicable,Not Applicable

In [122]:
#black_male = black_male.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code']) Dropping columns
black_male.head()

,ï»¿Notes,State,Five-Year Age Groups Code,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed
1,NaN,Alabama,30-34,Black,Male,2000,Suppressed,34821,Suppressed
2,NaN,Alabama,30-34,Black,Male,2001,Suppressed,34582,Suppressed
3,NaN,Alabama,30-34,Black,Male,2002,Suppressed,34999,Suppressed
4,NaN,Alabama,30-34,Black,Male,2003,Suppressed,35431,Suppressed

In [127]:
black_male = black_male.rename(columns = {'Five-Year Age Groups Code': 'age'})
black_male.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Black,Male,1999,Suppressed,34931,Suppressed
1,NaN,Alabama,30-34,Black,Male,2000,Suppressed,34821,Suppressed
2,NaN,Alabama,30-34,Black,Male,2001,Suppressed,34582,Suppressed
3,NaN,Alabama,30-34,Black,Male,2002,Suppressed,34999,Suppressed
4,NaN,Alabama,30-34,Black,Male,2003,Suppressed,35431,Suppressed

In [96]:
black_female.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
15295,NaN,Wyoming,56,100+ years,100+,Black,Female,F,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,56,100+ years,100+,Black,Female,F,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,56,100+ years,100+,Black,Female,F,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,56,100+ years,100+,Black,Female,F,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,56,100+ years,100+,Black,Female,F,2018,2018,Suppressed,Not Applicable,Not Applicable

In [128]:
black_female = black_female.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
black_female = black_female.rename(columns = {'Five-Year Age Groups Code':'age'})
black_female.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Black,Female,1999,Suppressed,42324,Suppressed
1,NaN,Alabama,30-34,Black,Female,2000,Suppressed,42199,Suppressed
2,NaN,Alabama,30-34,Black,Female,2001,Suppressed,42199,Suppressed
3,NaN,Alabama,30-34,Black,Female,2002,Suppressed,42531,Suppressed
4,NaN,Alabama,30-34,Black,Female,2003,Suppressed,42992,Suppressed

In [99]:
hispanic_male.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
16875,NaN,Wyoming,56,100+ years,100+,Hispanic,Male,M,2016.0,2016.0,Suppressed,Not Applicable,Not Applicable
16876,NaN,Wyoming,56,100+ years,100+,Hispanic,Male,M,2017.0,2017.0,Suppressed,Not Applicable,Not Applicable
16877,NaN,Wyoming,56,100+ years,100+,Hispanic,Male,M,2018.0,2018.0,Suppressed,Not Applicable,Not Applicable
16878,Total,Wyoming,56,100+ years,100+,Hispanic,Male,M,NaN,NaN,Suppressed,Not Applicable,Not Applicable
16879,Total,Wyoming,56,100+ years,100+,Hispanic,NaN,NaN,NaN,NaN,Suppressed,Not Applicable,Not Applicable

In [129]:
hispanic_male = hispanic_male.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
hispanic_male = hispanic_male.rename(columns = {'Five-Year Age Groups Code':'age'})
hispanic_male.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Hispanic,Male,1999.0,Suppressed,3858,Suppressed
1,NaN,Alabama,30-34,Hispanic,Male,2000.0,Suppressed,4307,Suppressed
2,NaN,Alabama,30-34,Hispanic,Male,2001.0,Suppressed,5009,Suppressed
3,NaN,Alabama,30-34,Hispanic,Male,2002.0,Suppressed,5775,Suppressed
4,NaN,Alabama,30-34,Hispanic,Male,2003.0,Suppressed,6524,Suppressed

In [103]:
hispanic_female.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
15295,NaN,Wyoming,56,100+ years,100+,Hispanic,Female,F,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,56,100+ years,100+,Hispanic,Female,F,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,56,100+ years,100+,Hispanic,Female,F,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,56,100+ years,100+,Hispanic,Female,F,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,56,100+ years,100+,Hispanic,Female,F,2018,2018,Suppressed,Not Applicable,Not Applicable

In [134]:
#hispanic_female = hispanic_female.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
#hispanic_female = hispanic_female.rename(columns = {'Five-Year Age Groups Code':'age'})
hispanic_female.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Hispanic,Female,1999,Suppressed,2339,Suppressed
1,NaN,Alabama,30-34,Hispanic,Female,2000,Suppressed,2742,Suppressed
2,NaN,Alabama,30-34,Hispanic,Female,2001,Suppressed,3272,Suppressed
3,NaN,Alabama,30-34,Hispanic,Female,2002,Suppressed,3592,Suppressed
4,NaN,Alabama,30-34,Hispanic,Female,2003,Suppressed,4217,Suppressed

In [105]:
american_indian_female.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
16875,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Female,F,2016.0,2016.0,Suppressed,Not Applicable,Not Applicable
16876,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Female,F,2017.0,2017.0,Suppressed,Not Applicable,Not Applicable
16877,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Female,F,2018.0,2018.0,Suppressed,Not Applicable,Not Applicable
16878,Total,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Female,F,NaN,NaN,Suppressed,Not Applicable,Not Applicable
16879,Total,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,NaN,NaN,NaN,NaN,Suppressed,Not Applicable,Not Applicable

In [135]:
american_indian_female = american_indian_female.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
american_indian_female = american_indian_female.rename(columns = {'Five-Year Age Groups Code':'age'})
american_indian_female.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,American Indian or Alaskan Native,Female,1999.0,Suppressed,770,Suppressed
1,NaN,Alabama,30-34,American Indian or Alaskan Native,Female,2000.0,Suppressed,826,Suppressed
2,NaN,Alabama,30-34,American Indian or Alaskan Native,Female,2001.0,Suppressed,766,Suppressed
3,NaN,Alabama,30-34,American Indian or Alaskan Native,Female,2002.0,Suppressed,776,Suppressed
4,NaN,Alabama,30-34,American Indian or Alaskan Native,Female,2003.0,Suppressed,798,Suppressed

In [108]:
american_indian_male.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
16875,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Male,M,2016.0,2016.0,Suppressed,Not Applicable,Not Applicable
16876,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Male,M,2017.0,2017.0,Suppressed,Not Applicable,Not Applicable
16877,NaN,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Male,M,2018.0,2018.0,Suppressed,Not Applicable,Not Applicable
16878,Total,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,Male,M,NaN,NaN,Suppressed,Not Applicable,Not Applicable
16879,Total,Wyoming,56,100+ years,100+,American Indian or Alaskan Native,NaN,NaN,NaN,NaN,Suppressed,Not Applicable,Not Applicable

In [136]:
american_indian_male = american_indian_male.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
american_indian_male = american_indian_male.rename(columns = {'Five-Year Age Groups Code':'age'})
american_indian_male.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,1999.0,Suppressed,763,Suppressed
1,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,2000.0,Suppressed,822,Suppressed
2,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,2001.0,Suppressed,801,Suppressed
3,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,2002.0,Suppressed,814,Suppressed
4,NaN,Alabama,30-34,American Indian or Alaskan Native,Male,2003.0,Suppressed,827,Suppressed

In [111]:
asian_female.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
15295,NaN,Wyoming,56,100+ years,100+,Asian or PI,Female,F,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,56,100+ years,100+,Asian or PI,Female,F,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,56,100+ years,100+,Asian or PI,Female,F,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,56,100+ years,100+,Asian or PI,Female,F,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,56,100+ years,100+,Asian or PI,Female,F,2018,2018,Suppressed,Not Applicable,Not Applicable

In [137]:
asian_female = asian_female.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
asian_female = asian_female.rename(columns = {'Five-Year Age Groups Code':'age'})
asian_female.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Asian or PI,Female,1999,Suppressed,1620,Suppressed
1,NaN,Alabama,30-34,Asian or PI,Female,2000,Suppressed,1725,Suppressed
2,NaN,Alabama,30-34,Asian or PI,Female,2001,Suppressed,1860,Suppressed
3,NaN,Alabama,30-34,Asian or PI,Female,2002,Suppressed,2042,Suppressed
4,NaN,Alabama,30-34,Asian or PI,Female,2003,Suppressed,2139,Suppressed

In [114]:
asian_male.tail()

,ï»¿Notes,State,State Code,Five-Year Age Groups,Five-Year Age Groups Code,Ethnicity,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
15295,NaN,Wyoming,56,100+ years,100+,Asian or PI,Male,M,2014,2014,Suppressed,Not Applicable,Not Applicable
15296,NaN,Wyoming,56,100+ years,100+,Asian or PI,Male,M,2015,2015,Suppressed,Not Applicable,Not Applicable
15297,NaN,Wyoming,56,100+ years,100+,Asian or PI,Male,M,2016,2016,Suppressed,Not Applicable,Not Applicable
15298,NaN,Wyoming,56,100+ years,100+,Asian or PI,Male,M,2017,2017,Suppressed,Not Applicable,Not Applicable
15299,NaN,Wyoming,56,100+ years,100+,Asian or PI,Male,M,2018,2018,Suppressed,Not Applicable,Not Applicable

In [138]:
asian_male = asian_male.drop(columns = ['State Code','Five-Year Age Groups','Gender Code','Year Code'])
asian_male = asian_male.rename(columns = {'Five-Year Age Groups Code':'age'})
asian_male.head()

,ï»¿Notes,State,age,Ethnicity,Gender,Year,Deaths,Population,Crude Rate
0,NaN,Alabama,30-34,Asian or PI,Male,1999,Suppressed,1532,Suppressed
1,NaN,Alabama,30-34,Asian or PI,Male,2000,Suppressed,1665,Suppressed
2,NaN,Alabama,30-34,Asian or PI,Male,2001,Suppressed,1768,Suppressed
3,NaN,Alabama,30-34,Asian or PI,Male,2002,Suppressed,1947,Suppressed
4,NaN,Alabama,30-34,Asian or PI,Male,2003,Suppressed,2154,Suppressed